<div class="col-md-12 col-sm-12 col-xs-12 center login-form">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="col-md-6 col-sm-8 col-xs-12 z-depth-4">

  <div class="field col-md-11 col-sm-11 col-xs-11">
    <%= f.label :email, :class => 'left' %><br />
    <%= f.email_field :email, autofocus: true, :required => true %>
  </div>

  <div class="field col-md-11 col-sm-11 col-xs-11">
    <%= f.label :phone_number, :class => 'left' %><br />
    <%= f.text_field :phone_num, :required => true %>
  </div>

  <div class="field col-md-11 col-sm-11 col-xs-11">
    <%= f.label :full_name, :class => 'left' %><br />
    <%= f.text_field :full_name, :required => true %>
  </div>

  <div class="field col-md-11 col-sm-11 col-xs-11">
    <%= f.label :address, :class => 'left' %><br />
    <%= f.text_field :address, :required => true %>
  </div>

  <div class="field col-md-11 col-sm-11 col-xs-11">
    <%= f.label :city, :class => 'left' %><br />
    <%= f.text_field :city, :required => true %>
  </div>

  <div class="field col-md-11 col-sm-11 col-xs-11">
    <%= f.label :state, :class => 'left' %><br />
    <%= f.text_field :state, :required => true %>
  </div>

  <div class="field col-md-11 col-sm-11 col-xs-11">
    <%= f.label :zipcode, :class => 'left' %><br />
    <%= f.text_field :zipcode, :required => true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>


  <div class="field col-md-11 col-sm-11 col-xs-11">
    <%= f.label :password, :class => 'left' %> <br />
    <%= f.password_field :password, autocomplete: "off", :class => 'left' %>

  </div>

  <div class="field col-md-11 col-sm-11 col-xs-11">
    <%= f.label :password_confirmation, :class => 'left' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>


  <div class="btn-group col-md-8 col-sm-8 col-xs-8 custom_btn" data-toggle="buttons-radio" style="
    padding-left:;">
    <%= f.radio_button :org, "false", :id=>"first", :style=>"display:none;", :class=>"with-gap" %>
    <label for="first">I am a GiiGseeker</label>

    <%= f.radio_button :org, "true", :id=>"second", :checked => 'true', :style=>"display:none;", :class=>"with-gap"  %>
    <label for="second">I am a GiiGmaker</label>
  </div>

  <div class="field col-md-11 col-sm-11 col-xs-8 center">
        <label class="btn custom_btn" style="width:70%;font-size: 14px !important">

           Edit Photo
          <span style="display:none; ">
        <%= f.file_field :avatar %>
  </span>
  </label>
  </div>

  <div class="actions col-md-11 col-sm-11 col-xs-8 center">
    <%= f.submit "Update", :class => 'btn custom_btn', :style => "width: 70%" %>
  </div>
<% end %>



<div class="actions col-md-11 col-sm-11 col-xs-8 center" style="margin-top:1em;"">

<p class="center delete_user_account">Unhappy? <%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => 'delete_user_text' %></p>
</div>

<%# link_to "Back", :back %>
</div>
</div>
