<%= form_for(job) do |f| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :position_type %>
    <%= f.text_field :position_type %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.text_field :start_time %>
  </div>

  <div class="field">
    <%= f.label :end_time %>
    <%= f.text_field :end_time %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :hourly_wage %>
    <%= f.text_field :hourly_wage %>
  </div>

  <div class="field">
    <%= f.label :actual_start_time %>
    <%= f.text_field :actual_start_time %>
  </div>

  <div class="field">
    <%= f.label :actual_end_time %>
    <%= f.text_field :actual_end_time %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :location_id %>
    <%= f.number_field :location_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
