<!DOCTYPE html>
<html>
  <head>
    <title>GiiG</title>
    <%= csrf_meta_tags %>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 40em;
        width: 80%;
      }
      /* Optional: Makes the sample page fill the window. */
     /* html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }*/
    </style>
  </head>

  <body ng-app="GiiG">
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="#!">one</a></li>
      <li><a href="#!">two</a></li>
      <li class="divider"></li>
      <li><a href="#!">three</a></li>
    </ul>
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">GiiG</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <% if user_signed_in? %>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Edit account', edit_user_registration_path, target: '_self' %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete', target: '_self' %></li>
            <% if current_user.org? %>
            <!--  ui-sref="locationsIndex({id: '<% current_user.id %>'})" -->
            <li><a ui-sref="locationsIndex">Locations</a></li>
            <% elsif %>
            <li><a ui-sref="skillsIndex">Skills</a></li>
            <% end %>
          <% end %>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <% if user_signed_in? %>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Edit account', edit_user_registration_path, target: '_self' %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete', target: '_self' %></li>
            <% if current_user.org? %>
            <!--  ui-sref="locationsIndex({id: '<% current_user.id %>'})" -->
            <li><a ui-sref="locationsIndex">Locations</a></li>
            <% elsif %>
            <li><a ui-sref="skillsIndex">Skills</a></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

      <input type="file" id="file" name="file"/>
      <button ng-click="$ctrl.add()">Add</button>

      <ui-view></ui-view>

      <script>
        $(".dropdown-button").dropdown();
        $(".button-collapse").sideNav();
      </script>
  </body>
</html>
