<!DOCTYPE html>
<html>
  <head>
    <title>GiiG</title>

    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <!-- <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script> -->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <!-- Goolgle fonts -->
    <link href=“https://fonts.googleapis.com/css?family=Source+Sans+Pro” rel=“stylesheet”>

    <%= render :partial => 'client/google_analytics' %>

    <!-- <script src='//maps.googleapis.com/maps/api/js?key=YOUR_API_KEY'></script> -->

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

    </style>
  </head>

  <body ng-app="GiiG">
      <ul id="dropdown1" class="dropdown-content">
        <li><%= link_to 'Edit account', edit_user_registration_path, target: '_self' %></li>

        <!-- <li><a ui-sref="skillsIndex">Skills</a></li> -->
        <li class="divider"></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete', target: '_self' %></li>
      </ul>
      <div class="">


    <nav class="navbar navbar-fixed-top">
      <div class="nav nav-wrapper">
        <% if user_signed_in? %>

        <% if current_user.org == nil %>
        <div class="brand-logo"><a href="/jobseeker"><%=image_tag("giig-dark@2x.png", :width => "60%")%></a></div>
        <% else %>
            <div class="brand-logo"><a href="/organization"><%=image_tag("giig-dark@2x.png", :width => "60%")%></a></div>
         <% end %>
        <% end %>

        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <% if user_signed_in? %>
            <li id="user-photo" style="
              margin-right: 20px;"><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= image_tag( current_user.avatar.url, style: 'height: 35px; width: 35px; border: 1px solid white;border-radius: 50%;' ) %><i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
            <% if current_user.org? %>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li ><a ui-sref="organization">Jobs</a></li>
                <li><a ui-sref="locationsIndex">Locations</a></li>
              </ul>
              <% elsif %>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a ui-sref="jobseeker" class="nav-jobs">Jobs</a></li>
                <li><a href="applicant">Past Jobs</a></li>
                <li><a href="initialSkills">Skills</a></li>

              </ul>
            <% end %>
          <% else %>
          <ul class="right hide-on-med-and-down">
          <li><%= link_to "Sign Up", new_user_registration_path, target: '_self' %></li>
          <li><%= link_to "Log In", new_user_session_path, target: '_self' %></li>
          <% end %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <% if user_signed_in? %>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Edit account', edit_user_registration_path, target: '_self' %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete', target: '_self' %></li>

          <% end %>
        </ul>
      </div>
    </nav>

    </div>
    <div class="nav-space">
    </div>
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
      <ui-view></ui-view>
      <main>

      </main>
      <footer class="page-footer">

         <div class="footer-copyright">
           <div class="container center">
           © 2017 Copyright GiiG
           </div>
         </div>
       </footer>

       <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAohMMx5Ns4F5hhjZolRS29Ey9X5ZfKftU"></script>

      <script>
        $(".dropdown-button").dropdown();
        $(".button-collapse").sideNav();
        $('select').material_select();

        $('.datepicker').pickadate({
          selectMonths: true, // Creates a dropdown to control month
          selectYears: 15 // Creates a dropdown of 15 years to control year
        });
  </script>
  </body>
</html>
