<!DOCTYPE html>
<html>
  <head>
    <title>GiiG</title>

    <%= csrf_meta_tags %>




    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <!-- <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script> -->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <!-- <script src='//maps.googleapis.com/maps/api/js?key=YOUR_API_KEY'></script> -->

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 40em;
        width: 80%;
      }
    </style>
  </head>

  <body ng-app="GiiG">
      <ul id="dropdown1" class="dropdown-content">
        <li><%= link_to 'Edit account', edit_user_registration_path, target: '_self' %></li>
        <li><a ui-sref="locationsIndex">Locations</a></li>
        <!-- <li><a ui-sref="skillsIndex">Skills</a></li> -->
        <li class="divider"></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete', target: '_self' %></li>
      </ul>
      <div class="navbar-fixed">


    <nav>
      <div class="nav-wrapper">
        <div class="brand-logo"><%= link_to image_tag("giig-dark@2x.png", :width => "50%"), root_path %></div>
        <!-- <%= link_to 'GiiG', root_path, :class => 'brand-logo' %> -->
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <% if user_signed_in? %>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= image_tag( current_user.avatar.url, style: 'height: 35px; width: 35px; border: 1px solid white;border-radius: 50%;' ) %><i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
            <% if current_user.org? %>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li ><a ui-sref="organization">Jobs</a></li>
                <!-- <li ><a ui-sref="locationsIndex">Jobs</a></li> -->
                <li ><a ui-sref="skillsIndex">Applicants</a></li>
              </ul>
              <% elsif %>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a ui-sref="jobseeker">Jobs</a></li>
                <li><a href="badges.html">Past Jobs</a></li>
              </ul>
            <% end %>
          <% else %>
          <ul class="right hide-on-med-and-down">
          <li><%= link_to "Sign Up", new_user_registration_path, target: '_self' %></li>
          <li><%= link_to "Log In", new_user_session_path, target: '_self' %></li>
          <% end %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <% if user_signed_in? %>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Edit account', edit_user_registration_path, target: '_self' %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete', target: '_self' %></li>
            <% if current_user.org? %>
            <!--  ui-sref="locationsIndex({id: '<% current_user.id %>'})" -->
            <li><a ui-sref="locationsIndex">Locations</a></li>
            <% elsif %>
            <li><a ui-sref="skillsIndex">Skills</a></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </nav>
    </div>
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->

<% if user_signed_in? %>
<!-- <%= image_tag( current_user.avatar.url, style: 'height: 200px; width: 200px;' ) %> -->
    <!-- <%# image_tag(current_user.avatar.url)%> -->
<% end %>

      <ui-view></ui-view>
      <main>

      </main>
      <footer class="page-footer">

         <div class="footer-copyright">
           <div class="container center">
           © 2017 Copyright GiiG
           </div>
         </div>
       </footer>

       <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAohMMx5Ns4F5hhjZolRS29Ey9X5ZfKftU"></script>

      <script>
        $(".dropdown-button").dropdown();
        $(".button-collapse").sideNav();
        $('select').material_select();
      </script>
  </body>
</html>
