<!DOCTYPE html>
<html>
  <head>
    <title>GiiG</title>
    <%= csrf_meta_tags %>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 40em;
        width: 80%;
      }
    </style>
  </head>

  <body ng-app="GiiG">
      <ul id="dropdown1" class="dropdown-content">
        <li><%= link_to 'Edit account', edit_user_registration_path, target: '_self' %></li>
        <li class="divider"></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete', target: '_self' %></li>
      </ul>
    <nav>
      <div class="nav-wrapper">

        <%= link_to 'GiiG', root_path, :class => 'brand-logo' %>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <% if user_signed_in? %>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
            <% if current_user.org? %>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li ><a ui-sref="jobsIndex">Jobs</a></li>
                <li ><a ui-sref="skillsIndex">Applicants</a></li>
              </ul>
              <% elsif %>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="sass.html">Jobs</a></li>
                <li><a href="badges.html">Past Jobs</a></li>
              </ul>
            <% end %>
          <% else %>
          <ul class="right hide-on-med-and-down">
          <li><%= link_to "Sign Up", new_user_registration_path, target: '_self' %></li>
          <li><%= link_to "Log In", new_user_session_path, target: '_self' %></li>
          <% end %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <% if user_signed_in? %>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Edit account', edit_user_registration_path, target: '_self' %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete', target: '_self' %></li>
            <% if current_user.org? %>
            <!--  ui-sref="locationsIndex({id: '<% current_user.id %>'})" -->
            <li><a ui-sref="locationsIndex">Locations</a></li>
            <% elsif %>
            <li><a ui-sref="skillsIndex">Skills</a></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

      <!-- <input type="file" id="file" name="file"/>
      <button ng-click="$ctrl.add()">Add</button> -->

      <ui-view></ui-view>
      <main>

      </main>
      <footer class="page-footer">

         <div class="footer-copyright">
           <div class="container center">
           © 2017 Copyright GiiG
           </div>
         </div>
       </footer>

      <script>
        $(".dropdown-button").dropdown();
        $(".button-collapse").sideNav();
      </script>
  </body>
</html>
