<!DOCTYPE html>
<html>
  <head>
	<title>Giig</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href=“https://fonts.googleapis.com/css?family=Source+Sans+Pro” rel=“stylesheet”>


  </head>

  <body>
    <ul id="dropdown1" class="dropdown-content">
      <li><%= link_to 'Edit account', edit_user_registration_path, target: '_self' %></li>

      <!-- <li><a ui-sref="skillsIndex">Skills</a></li> -->
      <li class="divider"></li>
      <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete', target: '_self' %></li>
    </ul>
    <div class="navbar-fixed">


  <nav>
    <div class="nav-wrapper">


        <% if user_signed_in? %>
          <% if current_user.org == false %>
          <div class="brand-logo"><a href="/jobseeker"><%=image_tag("giig-dark@2x.png", :width => "50%")%></a></div>
          <% else %>
              <div class="brand-logo"><a href="/organization"><%=image_tag("giig-dark@2x.png", :width => "50%")%></a></div>
          <% end %>
          <% else %>
            <div class="brand-logo"><a href="/"><%=image_tag("giig-dark@2x.png", :width => "50%")%></a></div>
            <ul class="right hide-on-med-and-down">
              <li><%= link_to "Sign Up", new_user_registration_path, target: '_self' %></li>
              <li><%= link_to "Log In", new_user_session_path, target: '_self' %></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li><%= link_to "Sign Up", new_user_registration_path, target: '_self' %></li>
              <li><%= link_to "Log In", new_user_session_path, target: '_self' %></li>
            </ul>
      <% end %>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <li id="user-photo" style="
  margin-right: 20px;"><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= image_tag( current_user.avatar.url, style: 'height: 35px; width: 35px; border: 1px solid white;border-radius: 50%;' ) %><i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>


        <% end %>

      <ul class="side-nav" id="mobile-demo">
        <% if user_signed_in? %>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Edit account', edit_user_registration_path, target: '_self' %></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete', target: '_self' %></li>

        <% end %>
      </ul>
    </div>
  </nav>

  </div>
 	<!-- <p class="notice"><%# notice %></p> -->
	<!-- <p class="alert"><%# alert %></p> -->

  <script>
        $(".dropdown-button").dropdown();
        $(".button-collapse").sideNav();
        $('select').material_select();
      </script>

	<%= yield %>
  </body>
</html>
